{% extends 'basic.html' %}
{% load static %}
{% block body %}
        <!--Header End-->
        <!-- Content Section Start -->   
       <div class="main-container">
            <!-- About Section Start -->
           <section id="accessories" class="accessories-section pb-0" style="padding-top: 140px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1 text-center">
                            <div class="heading-wrapper">
                                <h2 class="text-uppercase">Who We Are </h2>
                            </div>
                            <div class="text-block text-lead">
                                <p>Our company key objective is creating and facilitating electric mobility across the country.</p>
                                <p>Our mission to create electric vehicles that can drive our present towards a sustainable future.</p>
                            </div>
                            
                            <div class="heading-wrapper">
                                <h2 class="text-uppercase">What We Do</h2>
                            </div>
                            <div class="text-block text-lead">
                                <p>We are engaged in the manufacturing of Electric Vehicles .LEO ELECTRIC is produced by using cutting edge technology; quality approved component and innovative ideas from our in-house RND. Further, we keep the diverse specifications, demands and details given by the clients in mind while developing the whole product range. LEO is highly recommended for its user friendly nature, long battery backup, advance technology, low maintenance requirement, long functional life, smooth functioning, elegant look, perfect design, accurate dimension and many other features. We offer innovative ideas of our professionals. We are offering vehicle and battery warranty for our Vehicles. Most of the Vehicles components are made from in house and we are on the way to 100 % indigenous product.</p>
                                
                            </div>
                            
                            <div class="heading-wrapper">
                                <h2 class="text-uppercase">Our Mission</h2>
                            </div>
                            <div class="text-block text-lead">
                                <p>Our mission to create electric vehicles that can drive our present towards a sustainable future.</p>
                            </div>
                            
                            <div class="heading-wrapper">
                                <h2 class="text-uppercase">Our Vision</h2>
                            </div>
                            <div class="text-block text-lead">
                                <p>Our vision is to become a leading brand in providing customized electric mobility experiences through cutting edge technology. In view of this, we have created a comprehensive roadmap to establish a dynamic Electric Vehicle ecosystem by investing in next generation technology solutions and globally competitive product, to drive adoption of sustainable mobility.</p>
                            </div>
                            <div class="btn-wrapper">
                                <a href="{% url 'contact' %}" class="btn btn-primary has-icon"><span>Contact Us </span><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{% static 'images/accessories-bg.png' %}" alt="">
            </section>
       </div>
        <!-- Content Section End -->   
        <!--footer Start-->   
{% endblock %}