{% extends 'basic.html' %}
{% load static %}
{% block body %}
        <!--Header End-->
        <!-- Content Section Start -->   
       <div class="main-container">
            <!-- About Section Start -->
           <section id="accessories" class="accessories-section pb-0" style="padding-top: 140px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1 text-center">
                            {{about.content|safe}}
                            <div class="btn-wrapper">
                                <a href="{% url 'contact' %}" class="btn btn-primary has-icon"><span>Contact Us </span><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{% static 'images/accessories-bg.png' %}" alt="">
            </section>
       </div>
        <!-- Content Section End -->   
        <!--footer Start-->   
{% endblock %}