{% extends 'basic.html' %}
{% load static %}
{% block css %}
    <style type="text/css">
        .plans {
            background-color: green !important;
        }

        .plans:hover {
            background-color: orange !important;
        }
    </style>
{% endblock %}
{% block body %}

    <!--Product Details Start-->
        <div class="container py-24">
            <div class="row mt-5">
                <div class="col-sm-10 container">
                    <h4>Order Summary</h4>
                    <hr>
                    {% for item in cart_items %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5>Product: {{item.product.name}}</h5>
                            <p>Quantity: {{item.quantity}}</p>
                            <p class="fw-bold">Price: {{item.total_cost}}</p>
                        </div>
                    </div>
                     {% endfor %}
                     <p class="fw-bold">Total Cost + Shipping Cost = {{totalamount}}</p>
                    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam
                        saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam,
                        accusantium adipisci nisi nihil in et quis?</small>
                </div>
                <div class="col-sm-10 container my-5">
                    <h4>Select Shipping Address</h4>
                    <hr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form1.as_p}}
                        {{form.as_p}}
                       
                        <div class="row ">
                        <div class="text-end">
                            <button type="" class="btn btn-warning mt-3 px-5 fw-bold ">Continue</button>
                        </div>
                        <div class="text-end">
                            <a href = "{% url "editprofile" %}?next={{request.get_full_path}}" class="btn btn-warning mt-3 px-5 fw-bold" >Add Address</a>
                        </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <!--Product Details End-->
        <!--footer Start-->
 {% endblock %}