{% extends 'basic.html' %}
{% load static %}
{% block body %}

        <!--Header End-->
        <!-- Content Section Start -->   
       <div class="main-container">
            <!-- About Section Start -->
            <section id="about" class="about-section" style="background-color: #d9d9db;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="img-wrapper">
                                <img src="{% static 'images/career.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 about-text">
                            <div class="heading-wrapper">
                                <h2 class="large-heading text-uppercase">
<!--                                    <span>Careers </span>-->
                                With EVEX Electric</h2>
                            </div>
                            <div class="text-block">
                                <p style="color: #000;">We are a company with a big vision, big goals and even bigger heart. Leo Electric has goal of leading e-vehicle industry thinks about eco first. Do you want to join a our company that driven by a desire to do good in the world?</p>

                           <p style="color: #000;">Kindly share your resume and provide us an opportunity to have a round of discussion with you at</p>
                            </div>
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-primary has-icon"><span>CyberFlax@EVEXelectric.in</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Section End -->
            <!-- About Section Start -->
           <section id="contact" class="contact-section" style="padding-top: 150px;">
                <div class="section-background m-bg-hide">
                    <div class="background-wrapper">
                        <div class="background-inner" style="background-image: url('{% static "images/bg-3.png" %}'); background-repeat: no-repeat;background-position: center right; background-size:auto;"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-wrapper">
                                <h2 class="large-heading text-uppercase">For Enquiries / Contact us</h2>
                                <h4 class="fw-300">Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours.</h4>
                                <span id="lblError" style="color: red"></span>
                                <p style="color:green;">{{msg}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-wrapper">
                                <form action="" method="POST" id="contactform">
                                {% csrf_token %}
                                     <div class="form-row">
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="text" class="form-control" onkeypress="return Validate(event);" id="name" name="name" placeholder="Your Name" required>

                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="email" class="form-control" onkeyup="ValidateEmail();" id="email" name="email" placeholder="Your Email" required>

                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="text" class="form-control" minlength="10" maxlength="10" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" id="phone" name="phone" placeholder="Contact Number" required>

                                        </div>
                                        <div class="form-group col-lg-6 col-sm-6">
                                            <input type="text" class="form-control" onkeypress="return Validate(event);" id="sub" name="sub" placeholder="Subject">

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <textarea class="form-control"  id="question" name="question" placeholder="Your Question" required></textarea>

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <input type="submit" value="Send" class="btn btn-primary border-btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Section End -->
       </div>
        <!-- Content Section End -->   
        <!--footer Start-->   


<script type="text/javascript">
    function ValidateEmail() {
        var email = document.getElementById("email").value;
        var lblError = document.getElementById("lblError");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }

     function Validate(e) {
        var keyCode = e.keyCode || e.which;

        var lblError = document.getElementById("lblError");
        lblError.innerHTML = "";
        var regex = /^[A-Za-z ]+$/;
        var isValid = regex.test(String.fromCharCode(keyCode));
        if (!isValid) {
            lblError.innerHTML = "Only Alphabets allowed.";
        }

        return isValid;
    }
</script>
{% endblock %}