{% extends 'basic.html' %}
{% load static %}
{% block css %}
    <style>
        .divider-text {
position: relative;
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}
.divider-text span {
padding: 7px;
font-size: 12px;
position: relative;   
z-index: 2;
}
.divider-text:after {
content: "";
position: absolute;
width: 100%;
border-bottom: 1px solid #ddd;
top: 55%;
left: 0;
z-index: 1;
}

.btn-facebook {
background-color: #405D9D;
color: #fff;
}
.btn-twitter {
background-color: #42AEEC;
color: #fff;
}
    </style>
{% endblock %}
{% block body %}        
        <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto" style="margin-top: 80px;">
        	{% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                        <strong>Message: </strong> {{ message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span
                        </button>
                    </div>
             {% endfor %}
            <div class="card card0 border-0">
                <div class="row d-flex">
                    <div class="col-lg-6 d-flex justify-content-center align-items-center">
                        <img src="{% static 'images/h2.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-6 my-10   px-5 px-lg-5">
                <H3>Reset Your password</H3>

						 <form action="" method="POST" >
                          {% csrf_token %}
                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                      
                          <div class="mb-4">
                              <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Email Address</label>
                              {{form.email}} 
                          </div>
                         
                        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Reset </button> </div>

                        <div class="row mb-4 px-3"> <small class="font-weight-bold">Have an account? .<a class="text-danger" href="{% url 'userlogin' %}"	>&nbsp SignIn</a></small> </div>
                          </form>
                      </div>
                </div>
            </div>
          
        </div>




        <!--container end.//-->
    


        <!-- Content Section End -->   
        <!--footer Start-->   
{% endblock %}