{% extends 'userbasic.html' %}

{% block udbody %}
 <form action="{% url 'profile' %}?next={{request.GET.next}}" method="post">{% csrf_token %} 
                                      {{form.as_p}}
                                      
                                      
                                       <div class="col-12 mt-3">
                                           <button type="submit" class="btn btn-primary">Submit</button>
                                       </div>
                                   </form>
                                   <script>
                                    var ele = document.getElementsByTagName('input')
                                    var ele2= document.getElementsByTagName('textarea')
                                
                                    for(var i =0; i<ele.length; i++){
                                        if(ele[i].className=='' && ele[i].getAttribute('type') != 'checkbox'){
                                        ele[i].setAttribute('class','form-control col')
                                        }
                                        if(ele[i].className=='vTimeField'){
                                          ele[i].setAttribute('type','time')
                                        }
                                    }
                                    for(var i =0; i<ele2.length; i++){
                                        if(ele2[i].className=='' && ele2[i].getAttribute('type') != 'checkbox'){
                                        ele2[i].setAttribute('class','form-control col')
                                        }
                                        if(ele2[i].className=='vTimeField'){
                                          ele2[i].setAttribute('type','time')
                                        }
                                    }
                                    var sel = document.getElementsByTagName('select')
                                    for(var i =0; i<sel.length; i++){
                                        sel[i].setAttribute('class','form-control col')
                                    }
                                     var ele = document.getElementsByTagName('input')
                                  for(var i =0; i<ele.length; i++){
                                      if(ele[i].className=='' && ele[i].getAttribute('type') != 'checkbox'){
                                      ele[i].setAttribute('class','form-control col')
                                      }
                                      if(ele[i].className=='vTimeField'){
                                        ele[i].setAttribute('type','time')
                                      }
                                      if(ele[i].className=='vDateField'){
                                        ele[i].setAttribute('type','date')
                                        ele[i].setAttribute('class','form-control')
                                      }
                                  }
                                  var sel = document.getElementsByTagName('select')
                                  for(var i =0; i<sel.length; i++){
                                      sel[i].setAttribute('class','form-control col')
                                  }
                                    
                                </script>
{% endblock %}