{% extends 'superuser/basic.html' %}
{% block body %}

<div class="third container">
    <div class="row">
        <div class="col-md-4 mt-5 mb-3">
            <div class="card card-hover">
                <div class="dash-box text-white">
                    <h1 class="dash-icon">
                        <i class="fas fa-user-secret mb-1 font-16"></i>
                    </h1>
                    <div class="dash-content">
                        <h5 class="mb-0 mt-1">1</h5>
                        <small class="font-light">Total Admin</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5 mb-3">
            <div class="card card-hover">
                <div class="dash-box text-white">
                    <h1 class="dash-icon">
                        <i class="fas fa-user mb-1 font-16"></i>
                    </h1>
                    <div class="dash-content">
                        <h5 class="mb-0 mt-1">9</h5>
                        <small class="font-light">Total User</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5 mb-3">
            <div class="card card-hover">
                <div class="dash-box text-white">
                    <h1 class="dash-icon">
                        <i class="fas fa-blog mb-1 font-16"></i>
                    </h1>
                    <div class="dash-content">
                        <h5 class="mb-0 mt-1">4</h5>
                        <small class="font-light">Total Blogs</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5 mb-3">
            <div class="card card-hover">
                <div class="dash-box text-white">
                    <h1 class="dash-icon">
                        <i class="fas fa-key mb-1 font-16"></i>
                    </h1>
                    <div class="dash-content">
                        <h5 class="mb-0 mt-1">6</h5>
                        <small class="font-light">Total Key Feature</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5 mb-3">
            <div class="card card-hover">
                <div class="dash-box text-white">
                    <h1 class="dash-icon">
                        <i class="fas fa-comments mb-1 font-16"></i>
                    </h1>
                    <div class="dash-content">
                        <h5 class="mb-0 mt-1">4</h5>
                        <small class="font-light">Total Testimonial</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5 mb-3">
            <div class="card card-hover">
                <div class="dash-box text-white">
                    <h1 class="dash-icon">
                        <i class="fas fa-tags mb-1 font-16"></i>
                    </h1>
                    <div class="dash-content">
                        <h5 class="mb-0 mt-1">9</h5>
                        <small class="font-light">Total Products</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5 mb-3">
            <div class="card card-hover">
                <div class="dash-box text-white">
                    <h1 class="dash-icon">
                        <i class="fas fa-shopping-cart mb-1 font-16"></i>
                    </h1>
                    <div class="dash-content">
                        <h5 class="mb-0 mt-1">13</h5>
                        <small class="font-light">Total Products Order</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5 mb-3">
            <div class="card card-hover">
                <div class="dash-box text-white">
                    <h1 class="dash-icon">
                        <i class="fas fa-calendar-check mb-1 font-16"></i>
                    </h1>
                    <div class="dash-content">
                        <h5 class="mb-0 mt-1">3</h5>
                        <small class="font-light">Total Doctor Appointments</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5 mb-3">
            <div class="card card-hover">
                <div class="dash-box text-white">
                    <h1 class="dash-icon">
                        <i class="fas fa-headset mb-1 font-16"></i>
                    </h1>
                    <div class="dash-content">
                        <h5 class="mb-0 mt-1">7</h5>
                        <small class="font-light">Total Services</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container smart-card">
    <h4 class="title">Recent Product Order</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>Product</th>
                    <th>quantity</th>
                    <th>price</th>
                    <th>Time</th>
                    <th>status</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for data in latestorders|slice:":5" %}
                <tr class="{% if forloop.counter|divisibleby:2 == False %}bg-light{% endif %}">
                    <td>{{data.order_id}}</td>
                    <td>{{data.user}}</td>
                    <td>{{data.product}}</td>
                    <td>{{data.quantity}} </td>
                    <td>{{data.price}}</td>
                    <td>{{data.order_date}}</td>
                    <td>
                        {% if data.status == "Accepted" or data.status == "Delivered" %}
                        <span class="alert alert-success">{{data.status}}</span>
                        {% elif data.status == "Packed" %}
                        <span class="alert alert-secondary">{{data.status}}</span>
                        {% elif data.status == "On The Way" %}
                        <span class="alert alert-info">{{data.status}}</spCancelan>
                            {% elif data.status == "Cancel" %}
                            <span class="alert alert-danger">{{data.status}}</spCancelan>
                                {% elif data.status == "pending" %}
                                <span class="alert alert-warning">{{data.status}}</spCancelan>
                                    {% endif %}
                    </td>
                    <td><a href="{% url 'editorders' data.id %}" class='btn btn-sm btn-primary'><i
                                class="bi bi-pencil-fill"></i></a></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}