{% extends 'superuser/basic.html' %}
{% block body %}

    <div class=" smart-card">
        <h4 class="title">Product</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Desc</th>
                        <th>Specification</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prod in prods %}
                    <tr class="{% if forloop.counter|divisibleby:2 == False %}bg-light{% endif %}">
                        <td>{{forloop.counter}}</td>
                        <td>{{prod.name}} ({{prod.color}})</td>
                        <td>{{prod.description}} </td>
                        <td><a href="{% url 'addspecs' id=prod.id %}"
                            class="btn btn-outline-danger btn-sm">Add specs</a></td>
                            <td><a href="/staff/classes/?delete={{row.id}}&id={{subjects.0.standard.id}}"
                                class="btn btn-outline-danger btn-sm">Delete</a></td>
                           
                    </tr>
            
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}